{% extends "base.html" %}
{% block body %}

    <h1>Item posted!</h1>
    <br><br>
    <img src="http://media.tumblr.com/tumblr_m13w8vCxRS1qbc0ku.jpg" height=100px width=100px>
    <p>This is my chair.<p>
    <p>$100.00</p>
    <br>
    
    <button class="btn btn-primary" onclick="location.href='/gallery/';" type="button">View Inventory</button>
    <br><br><br>


    <img src="http://png-4.findicons.com/files/icons/2155/social_media_bookmark/122/facebook_button.png" height="75px" width="75px" href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://dev.twitter.com/sites/default/files/images_documentation/follow_button_large_1.png">

{% endblock %}