{% extends "base.html" %}
{% block body %}

    <h2>Videos</h2>
    <p>Share tutorials and useful videos with your classmates!</p>
<div class="container">
	<div style="padding:10px 10px">
    <iframe width="400" height="315" src="http://www.youtube.com/embed/IUP2qvX15gc" frameborder="0" allowfullscreen></iframe>
	</div>

	<div style="padding:10px 10px">
    <iframe width="400" height="315" src="http://www.youtube.com/embed/rlwBjfG-MME" frameborder="0" allowfullscreen></iframe>
	</div>    

     <div style="padding:10px 10px">
     <iframe width="400" height="315" src="http://www.youtube.com/embed/a-WPPSFvFh4" frameborder="0" allowfullscreen></iframe>
     </div>

     <br><br>

     <button class="btn btn-large btn-primary" type="button">Upload</button>

</div>

{% endblock %}